body {
    background-color: rgb(35, 35, 35);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(0, 0, 0); */
    height: 800px;
}

.picFrame {
    /* border: 1px solid purple; */
    width: 800px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* To position next/previous image arrows properly */
    position: relative;
}

.imgContainer {
    border: 1px solid rgb(250, 97, 250);
    width: 790px;
    height: 390px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    animation: nKey 1s ease-in-out;
    border-radius: 8px;
    width: 474px;
    height: 296px;
}

@keyframes myKey {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes nKey {
    from {opacity: 0;}
    to {opacity: 100;}
}

#previousImage,
#nextImage {
    /* border: 1px solid black; */
    border-radius: 8px;
    position: absolute;
    width: 50px;
    height: 390px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    color: rgb(250, 97, 250);
}

#previousImage {
    left: 4px;
}

#nextImage {
    left: 747px;
    /* border: 1px solid white; */
}

#previousImage:hover,
#nextImage:hover {
    /* border: 1px solid white; */
    background-color: rgba(250, 97, 250, 0.253);
}

.navDots {
    position: absolute;
    bottom: 16px;

    display: flex;
    gap: 1rem;
}

/* Make circle with border radius */
.dots {
    height: 12px;
    width: 12px;
    border: 1px solid rgb(250, 97, 250);
    border-radius: 50%;
}